# =========================================
# Node
# =========================================

node_modules/

npm-debug.log*

# =========================================
# Build
# =========================================

dist/

out/

.cache/

coverage/

# =========================================
# VSCode Extension
# =========================================

*.vsix

.vscode-test/

# =========================================
# OS
# =========================================

.DS_Store

Thumbs.db

# =========================================
# IDE
# =========================================

.idea/

# =========================================
# Logs
# =========================================

logs/

*.log

# =========================================
# Temp
# =========================================

tmp/

temp/

# =========================================
# Generated Preview
# =========================================

preview/

previews/

generated_previews/